$bg-primary: #fbfbfb; //main-page-background
$bg-secondary: #2a2a2a; //header-footer-background

$font-primary: #444444; //primary title
$font-secondary: #555555; //secondary title
$font-third: #666666; //third title
$font-fourth: #777777; //fourth title
$font-fifth: #cccccc; //footer title
$font-sixth: #999999; //footer links
$font-oncard: #ffffff;
$font-price: #222222;
$font-search: #a4a4a4;

$ph-primary: #999999; //forms placeholder
$ph-secondary: #aaaaaa; //footer placeholder

$border-dark: #444444;
$border-light: #999999;

$notice-color: #f0877c;
$checked: #555555; //changed because of universality

$slider-btn: #555555; //slider controls
$pagiantion-color: #999999;
$pagination-active: #a3a3a3;