@import "./fonts.scss";

$f1: 'Archivo Narrow', sans-serif; //first-font-kit
$f2: 'Open Sans', sans-serif; //second-font-kit. Instead of Verdana
$f3: 'Scada', sans-serif; //third-font-kit
$f4: 'Source Code Pro', monospace; //fourth-font-kit